.room-bar {
    display: flex;
    flex-flow: column;
    background-color: var(--bg-secondary);
    height: calc(var(--height) - 10px);
    width: 250px;
    left: 0;
    position: absolute;
    padding: 5px 0;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.room-bar::-webkit-scrollbar {
    width: 0;
}

.room-bar > * {
    margin: 10px 15px;
    width: 200px;
    height: 40px;
    padding: 7px 10px;
    transition: 150ms;
    border-radius: 5px;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transform: translateX(0px)
}

.room-bar > *:hover {
    background-color: var(--bg-teritary);
    transform: translateX(5px);
    border-radius: 5px 0 0 5px;
    width: 210px;
}

.room-bar > * > .room-icon > img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 50%;
}

.room-bar > * > .room-icon {
    transition: 150ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-bar > *.selected {
    background-color: var(--select);
}

.room-bar > * > div {
    transform: translateX(10px);
}

.room-bar > * > * > .room-name {
    width: 150px;
    display: block;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 80%;
}

.room-bar > * > * > .room-last-sent {
    width: 150px;
    display: block;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 70%;
}